@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-primary-50: var(--color-neutral-50);
    --color-primary-100: var(--color-neutral-100);
    --color-primary-200: var(--color-neutral-200);
    --color-primary-300: var(--color-neutral-300);
    --color-primary-400: var(--color-neutral-400);
    --color-primary-500: var(--color-neutral-500);
    --color-primary-600: var(--color-neutral-600);
    --color-primary-700: var(--color-neutral-700);
    --color-primary-800: var(--color-neutral-800);
    --color-primary-900: var(--color-neutral-900);
    --color-primary-950: var(--color-neutral-950);

    --color-secondary-50: var(--color-blue-50);
    --color-secondary-100: var(--color-blue-100);
    --color-secondary-200: var(--color-blue-200);
    --color-secondary-300: var(--color-blue-300);
    --color-secondary-400: var(--color-blue-400);
    --color-secondary-500: var(--color-blue-500);
    --color-secondary-600: var(--color-blue-600);
    --color-secondary-700: var(--color-blue-700);
    --color-secondary-800: var(--color-blue-800);
    --color-secondary-900: var(--color-blue-900);
    --color-secondary-950: var(--color-blue-950);
}
