body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
}

.navbar-container {
  height: 4rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-weight: 1000;
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
}

.navbar-brand:hover {
    text-decoration: underline;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  font-weight: 500;
  font-size: 1rem;
  list-style: none;
}

.navbar-links a {
    color: inherit;
    text-decoration: none;
}

.navbar-link-item a:hover {
    text-decoration: underline;
}

.content-div {
    margin: 1rem;
}

#numberList, #colorList, #numberboxList {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2rem;
}

.box {
    height: 3rem;
    width: 3rem;
    border: 1px solid black;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

  